* {
  @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Kanit:ital,wght@0,400;1,300&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap");
  font-family: "Amatic SC", cursive;
  font-family: "Caveat", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(44, 62, 80);
  background: linear-gradient(90deg, rgb(44, 62, 80) 0%, rgb(52, 152, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50",endColorstr="#3498db",GradientType=1);
}
.parent .appbar-parent {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
}
.parent .appbar-parent .appbar-center {
  display: flex;
  width: 95%;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.parent .appbar-parent .appbar-center .nav-items {
  display: flex;
  width: 75%;
  justify-content: flex-end;
  align-items: center;
}
.parent .appbar-parent .appbar-center .nav-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}
.parent .appbar-parent .appbar-center .nav-search input {
  margin: 0px 10px 0px 10px;
  color: white;
  font-size: 20px;
  font-family: inherit;
}
.parent .appbar-parent .appbar-center .nav-search button {
  margin-right: 20px;
  color: white;
}
.parent .appbar-parent .appbar-center .nav-search button svg {
  font-size: 30px;
}
.parent .appbar-parent .appbar-center .nav-search button:hover {
  color: black;
}
.parent .appbar-parent .appbar-center .nav-search .menu-icon-appbar {
  display: flex;
  width: 100px;
}
.parent .appbar-parent .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.parent .appbar-parent .logo svg {
  font-size: 70px;
  margin: 0px 5px 8px 10px;
  color: white;
}
.parent .appbar-parent .logo svg :hover {
  color: black;
}
.parent .appbar-parent .logo h1 {
  font-size: 50px;
  color: white;
  font-weight: 600;
}

.parent-signup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background: rgb(44, 62, 80);
  background: linear-gradient(90deg, rgb(44, 62, 80) 0%, rgb(52, 152, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50",endColorstr="#3498db",GradientType=1);
}
.parent-signup .nav-home {
  position: absolute;
  top: 20px;
  right: 20px;
}
.parent-signup .nav-home button {
  height: 60px;
  width: 60px;
  border-radius: 20px;
}
.parent-signup .nav-home button svg {
  font-size: 50px;
}
.parent-signup .signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-height: 65vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.parent-signup .signup-card .signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.parent-signup .signup-card .signup-form h1 {
  margin: 15px 0px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}
.parent-signup .signup-card .signup-form .signup-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.parent-signup .signup-card .signup-form .signup-inputs .input-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 10px;
}
.parent-signup .signup-card .signup-form .signup-inputs .input-row .input {
  width: 48%;
}
.parent-signup .signup-card .signup-form .signup-inputs .input-row .input label {
  font-weight: bolder;
}
.parent-signup .signup-card .signup-form .signup-inputs .input-row .input input {
  font-weight: bolder;
}
.parent-signup .signup-card .signup-form .signup-inputs .button-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.parent-signup .signup-card .signup-form .signup-inputs .button-signup p {
  padding-top: 10px;
}
.parent-signup .signup-card .signup-form .signup-inputs .button-signup p a {
  padding-left: 5px;
  font-weight: bold;
}
.parent-signup .signup-card .signup-form .signup-inputs .alternate-login {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 70%;
}
.parent-signup .powered {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
}
.parent-signup .powered img {
  border-radius: 10px;
  margin-left: 10px;
}
.parent-signup .powered p {
  font-size: larger;
}

.parent-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  background: rgb(44, 62, 80);
  background: linear-gradient(90deg, rgb(44, 62, 80) 0%, rgb(52, 152, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50",endColorstr="#3498db",GradientType=1);
}
.parent-login .nav-home {
  position: absolute;
  top: 20px;
  right: 20px;
}
.parent-login .nav-home button {
  height: 60px;
  width: 60px;
  border-radius: 20px;
}
.parent-login .nav-home button svg {
  font-size: 50px;
}
.parent-login .login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  min-height: 65vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.parent-login .login-card .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
}
.parent-login .login-card .login-form h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin: 20px 0px;
}
.parent-login .login-card .login-form .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.parent-login .login-card .login-form .inputs label {
  margin-top: 20px;
  width: 68%;
  font-weight: bolder;
}
.parent-login .login-card .login-form .inputs input {
  font-weight: bolder;
  width: 70%;
}
.parent-login .login-card .login-form p {
  text-align: center;
  width: 100%;
}
.parent-login .login-card .login-form .login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.parent-login .login-card .login-form .login-button p {
  padding-top: 10px;
}
.parent-login .login-card .login-form .login-button p a {
  padding-left: 5px;
  font-weight: bold;
}
.parent-login .login-card .login-form .login-button button {
  margin-top: 30px;
}
.parent-login .login-card .alternate-login {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}
.parent-login .powered {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
}
.parent-login .powered img {
  border-radius: 10px;
  margin-left: 10px;
}
.parent-login .powered p {
  font-size: larger;
}/*# sourceMappingURL=index.css.map */