* {
  @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Kanit:ital,wght@0,400;1,300&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap");
  font-family: "Amatic SC", cursive;
  font-family: "Caveat", cursive;
  font-family: "Instrument Serif", serif;
  font-family: "Kanit", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
$appbarHeight: 90px;
$BackgroundColor: rgba(17, 19, 33);
$ComponentBackground: rgb(12, 13, 20);
@mixin BackgroundGradient {
  background: rgb(44, 62, 80);
  background: -moz-linear-gradient(
    90deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2c3e50",endColorstr="#3498db",GradientType=1);
}
@mixin appearence {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  @include BackgroundGradient();
  .appbar-parent {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    .appbar-center {
      display: flex;
      width: 95%;
      height: $appbarHeight;
      @include appearence();
      .nav-items {
        display: flex;
        width: 75%;
        justify-content: flex-end;
        align-items: center;
      }
      .nav-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 100%;
        & input {
          margin: 0px 10px 0px 10px;
          color: white;
          font-size: 20px;
          font-family: inherit;
        }
        & button {
          margin-right: 20px;
          color: white;
          & svg {
            font-size: 30px;
          }
          &:hover {
            color: black;
          }
        }
        .menu-icon-appbar {
          display: flex;
          width: 150px;
        }
      }
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      & svg {
        font-size: 70px;
        margin: 0px 5px 8px 10px;
        color: white;
        & :hover {
          color: black;
        }
      }
      & h1 {
        font-size: 50px;
        color: white;
        font-weight: 600;
      }
    }
  }
}
.parent-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  @include BackgroundGradient();
  .signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-height: 65vh;
    @include appearence();
    .signup-form {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
.parent-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  @include BackgroundGradient();
  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    min-height: 65vh;
    @include appearence();
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 80%;
      & h1 {
        color: white;
        text-transform: uppercase;
        font-size: 30px;
        margin: 20px 0px;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        & label {
          margin-top: 20px;
          width: 68%;
        }
        & input {
          width: 70%;
        }
      }
      & p {
        text-align: center;
        width: 100%;
      }
      .login-button {
        display: flex;
        justify-content: center;
        width: 100%;
        & button {
          margin: 20px 0px;
        }
      }
      .alternate-login {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
